.CoinsList .is-pinned {
    font-weight: bold;
}

.CoinsList .sorted-by-property {
    font-weight: bold;
}

.CoinsList .positive-daily-change {
    color: #0f9d58;
}

.CoinsList .negative-daily-change {
    color: #a52714;
}

.CoinsList .coins-list-table {
    width: 100%;
    border-collapse: collapse;
}

.CoinsList .icon {
    height: 40px;
}

.CoinsList .pin-button-wrapper {
    width: 80px;
}

.CoinsList .pin-button:not(.is-pinned)  {
    display: none;
}

.CoinsList .coins-list-item:nth-child(even) {background: #f2f2f2}
.CoinsList .coins-list-item:nth-child(odd) {background: #ffffff}

.CoinsList .coins-list-item:hover {
    background-color: #dbfffd;
}

.CoinsList .coins-list-item:hover .pin-button:not(.is-pinned)  {
    display: initial;
}

.CoinsList .coins-list-table th {
    font-weight: normal;
    height: 45px;
}

.CoinsList .coins-list-table tr:not(.coins-list-item) {
    border-bottom: 1px solid #555;
}
